name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # generate setiap 12 jam
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate svg
        uses: ErikKalkoken/github-contribution-snake-action@v2
        with:
          github_user_name: fiko-nanda
          output_file: dist/github-snake.svg

      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
